
    .btnContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 5em;
        button{
            background-image: linear-gradient(111deg, var(--gradient-colors2));
            box-shadow:5px 5px 0px 1px var(--secondary);
            border-radius: 20px;
            border: 2px solid var(--secondary);
            padding: 0;
            width: 100%;
            color: var(--secondary);
            height: 4em;
            margin: auto;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inherit;  
            font-size: inherit;  
            padding: 1em;
            h5 {
                font-size: 1.25em;
                color: var(--third);
                line-height: 1.1em;
                padding: 0 1em;
                margin: 0 1em;
              }
        }
    }

