
    .btnContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            background-color: var(--primary);
            border-radius: 20px;
            border: none;
            padding: 0;
            width: 20vw;
            height: 4vh;
            margin: 5em 5em;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inherit;    
        }
    }

    