.navAndContent{
    display: flex;
    width: 100%;
    height: auto;
    .navPages{
        background-color: var(--secondary);
        a{
            color: var(--fourth);
        }
    }
    .content{
        display: flex;
        height: auto;
        // background-color: aqua;
        width: 100%;
    }
}