.photos{
    display: inline-block;
    flex-direction: column;
    // background-color: aqua;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    
}
.photo{
    display: flex;
    flex-direction: column;
    width: 100%;
    img {
        height: 80%;
        width: 100%;
        object-fit: cover;
      }
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: fill;
}

.Photogallery{

    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 555px) {
    .photo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: auto;
    }
    .Photogallery{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }
}