.cont {
    // width: 100vw;
    // height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    img {
        height: 300px;
        margin: 10px;
      }
  }
  

  