
    ._photoCoach{
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        .__photoCoach{
            display: flex;
            height: auto;
            max-width: 100%;
        }
    }

@media only screen and (min-width: 996px){ 
    // ._photoCoach{
    //     .__photoCoach{
    //         max-width: 50%;
    //     }
    // }
}
@media only screen and (min-width: 1200px){ 
    ._photoCoach{
        .__photoCoach{
            max-width: 100%;

        }
    }
}


