.blogButton{
    background:linear-gradient(to bottom, var(--primary) 5%, var(--primary) 100%);
    background-color:var(--primary);
    border-radius: 1em;
    padding:1em;
    margin: 1em;
}
.blogBtnDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}