.blogs{
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;

    .blog{        
        width: 400px;
        height: 600px;
        margin: 1em;
        display: flex;
        justify-content:flex-start;
        align-items: center;

        
        img{
            height: 200px;
        }
    }
}