

    .ColourSeparator{
        position: absolute;
        right: -20px;
        height: 15vh;
        background: var(--primary);
        rotate: -5deg;
        width: 120%;
        margin-top: -40px;
        justify-content: center;
        align-items: center;
        width: 200%;
        overflow-x: hidden;
        
    }
    @media only screen and (min-width: 996px) {
       .ColourSeparator{
           height: 10vh;
           margin-top: 0;
           rotate: -3deg;
       }

    }

    @media only screen and (min-width: 1200px){ 
        .ColourSeparator{
            height: 20vh;
            margin-top: 0;

        }   

    }


