

    .ColourSeparator{
        display: flex;
        position: absolute;
        height: 15vh;
        background: var(--primary);
        rotate: 0deg;
        left: 0px;
        margin-top: -40px;
        width: 100%;
        overflow: hidden;
        box-shadow: 0 10px 40px -2px var(--secondary);
        -moz-box-shadow: 0 4px 4px -2px var(--secondary);
        -webkit-box-shadow: 0 4px 4px -2px var(--secondary);
    }
    @media only screen and (min-width: 996px) {
       .ColourSeparator{
           right: -20px;
           width: 120%;
           height: 10vh;
           margin-top: 0;
           rotate: -3deg;
       }

    }

    @media only screen and (min-width: 1200px){ 
        .ColourSeparator{
            height: 20vh;
            margin-top: 0;
        }   

    }


