
*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 15px;
    overflow-x: hidden;
    --primary:  #FFE14D;
    --secondary:#242B2E; 
    --third:#242B2E; 
    --yellow2:#FFD401; 
    --fourth: #ffffff;
    --valid: #3cc72f;
    --fifth: #fc6620;
    --gradient-colors: #FFD401,#FFDA25,#FFE049;
    --gradient-colors2:  #ffb56b, #ffba67, #ffc062, #ffc65d, #ffcd59, #ffd355, #ffda51, #ffe14d;
    scroll-behavior: smooth;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1,625;
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
    .home{
    padding-top: 9px ;
    position: relative;
    }

    .pdf{
        width: 100%;

        .block{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 100%;
        }
    }
    .block{
        width: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;  
    }
    .location{
        h4{
            text-align: justify;
        }
    }
    .container{
        margin: 0 0;
        max-width: 1150px;
        padding: 0 20px;
    }
    .container-large{
        margin: 0 0;
        padding: auto 5em;
    }

    h1{
        color: var(--secondary) ;
        font-size: 2.6em;
        font-weight: bold;
        line-height: 1.5em;
        margin: 1em;
    }
    h2{
        color:var(--secondary) ;
        font-size: 2.1em;
        line-height: 1.4em;
        margin: 1em;
        padding: 1em;
    }
    // h3{
    //     color:var(--secondary) ;
    //     font-size: 1.75em ;
    //     line-height: 1.3em;
    //     margin: 1em;
    //     opacity: 75%;
    // }
    h3{
        color: var(--secondary);
        font-size: 1.5em ;
        line-height: 1.2em;
        padding: 0 1em;
    }
    h5{
        color:var(--third);
        font-size:1.25em ;
        line-height: 1.1em;
        margin:0 1em ;
        padding: 0 1em;
    }
    h6{
        color:var(--third);
        font-size:5.25em ;
        font-weight: 900;
        line-height: 1.1em;
        margin:1em ;
        opacity: 0.5;
        padding: 1em;
    }


    p{
        color: var(--secondary);
        font-size:1em;
        line-height: 1.5em;
        opacity: 75%;
    }

    ._BgTitle{
        display: flex;
        font-size: 10em;
        margin: 0;
        opacity: 0.1;
        padding: 0;
        width: 100%;
    }

    a{
        all: unset;
        cursor: pointer;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    .socials{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        a{
            margin: auto 1em;
        }
    }  
    p{
        span{
            line-break: normal;
        }
    }
    li{
        color: var(--secondary);
        font-size: 1em;
        list-style: none;
        margin: 1em 0;
        margin-left: -1em;
        opacity: 75%;
        padding: 0 1em;
    }

    ._divRelative{
        margin-top: 5vh;
        position: relative;
    }

    ._BgSubTitle{
        display: flex;
        margin-top: 0;
        padding: 0.5em 0 0 0;
        position: relative;
        width: auto;
    }
    .Right ._BgSubTitle{
        padding-right:1em  ;
    }
    // button{
    //     background-color:var(--primary);
    //     background-image: linear-gradient(45deg, var(--gradient-colors));
    //     border:2px solid var(--primary);
    //     border-radius:11px;
    //     box-shadow:0.3em 0.3em 0px 0px var(--secondary);
    //     color: var(--secondary);
    //     cursor:pointer;
    //     display:inline-block;
    //     margin: 0;
    //     padding:0;
    //     width: 100%;
    // }
    button:hover{
        background:linear-gradient(to bottom, var(--primary) 5%, var(--primary) 100%);
        background-color:var(--primary);
    }
    button:active{
        position:relative;
        top:1px;
    }

    .Left{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
    }
    .Right{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
        width: 100%;
    }
    .Center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    ._right{
        display: none;
    }
    ._rightmob{
        bottom: 0;
        left: 40%;
        max-height: 50vh;
        position: absolute;
        z-index: -1;
    }
    ._left{
        align-items: flex-start;
        display: block;
        flex-direction: column;
        justify-content:center;
        max-width: 100%;
        position:relative;
    }
    .separator{
        background-image: linear-gradient(45deg, var(--gradient-colors));
        display: flex;
        height: 40vh;
        left:-50vw;
        margin-top: 5vh;
        position: relative;
        rotate: -2deg;
        width: 200vw;
        .numbers{
            display:none;
        }
    }
    span{
        font-weight: bold;
    }

    .__intro{
        align-items: center;   
        display: block;
        justify-content: center;
    }
    

    .HeroImage{
        align-items: center;
        display: flex;
        justify-content: center;
        transition: 0.5s ease-in-out;
        width: auto;
        z-index: 1;
    }
    ._HeroImage{
        border: none;
        border-radius: none;
        box-shadow:none;
        height: 25em;
        object-fit: contain;
    }

    .Card{
        align-items: center;
        box-shadow: 0 10px 40px -2px var(--secondary);
        -moz-box-shadow: 0 4px 4px -2px var(--secondary);
        -webkit-box-shadow: 0 4px 4px -2px var(--secondary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0 0 2em 0;
        padding: 1em;
        width: 100%;
        ._Title{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                align-items: center;
                display: flex;
                justify-content: center;
                text-align: center;
            }
            h5{
                background-color: var(--secondary);
                border-radius: 1em;
                color: var(--primary);
                padding: 1em;
            }
        }
    }

    .__primary{
        background-image: linear-gradient(45deg, var(--gradient-colors));
        border: 2px solid var(--secondary);
        border-radius: 1em;
        box-shadow:0.3em 0.3em 0px 5px var(--secondary);
        flex-direction: column;
        }
    .__secondary{
        background-color: var(--secondary);
        border: 2px solid var(--primary);
        border-radius: 1em;
        box-shadow:0.3em 0.3em 0px 5px var(--primary);
        flex-direction: column;
    }
    .map-responsive{
        margin: 1em auto;
    }

    .PicTitle{
        display: flex;
        flex-direction: column;
    }
    .PriceCards{
        display:block;
        .Card{
            display: flex;
            width: auto;
        }
    }
    .illustration{
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 10% auto;
        width: 100%;
    }
    .HeroImage{
    display: flex;
    transition: 0.5s ease-in-out;
    z-index: 1;
    }
    ._HeroImage{
        border: none;
        border-radius: none;
        box-shadow:none;
        height: 25em;
        object-fit: contain;
    }
    .Check{
        align-items: center;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        height: 1.5em;
        justify-content: center;
        width: 1.5em;
    }

    .Check, .Xmark{
        align-items: center;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        height: 1.5em;
        justify-content: center;
        width: 1.5em;
    }
    .Check{
        background-color: var(--valid);
    }
    .Xmark{
        background-color: var(--fifth);
    }
    .Caret{
        span{
        background-image: linear-gradient(45deg, var(--gradient-colors));
         box-shadow:0.1em 0.1em 0px 0px var(--secondary);
         color: var(--secondary);
        }
    }
    .quote-wrapper { 
        align-items:center;
        display:flex;
        flex-direction:row;
        justify-content:center;
        }
    table{
        overflow-x:auto;
        padding: 1em;
        width: 90%;
        tr{
         padding: 1em;
        }
    }
    .planification{
        display: flex;
        table{
            td{
                margin: 1em;
                text-align: center;
            }
        }
    }
    ._planification{
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: circle;
        margin-left: 5em;
        width: inherit  ;
    }
    .abonnements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    tr{
        display: flex;
        flex-direction: row;  
        td{
        align-items:flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            margin:1em;
        }
        }
        td:nth-of-type(1){
            width: 75%;
        }
        td:nth-of-type(2){
            align-items:flex-end;
            display: flex;
            justify-content: center;
            width: 25%;
        }
    }
    }
    ul{
        margin: 0;
        padding: 1em;
    }
    .hidden{
        opacity: 0;
    }
    .show{
        opacity: 1;
        transition: all 2s;
    }
    footer{
        display: flex;
    }
@media only screen and (min-width: 480px) {
    .Abonnement{
        display: flex;
    }
}

@media only screen and (min-width: 535px) {
    .HeroImage{
        margin: 1em 0;
    }
    ._HeroImage{
        border: 2px solid var(--yellow2);
        border-radius: 1em;
        box-shadow:5px 5px 0px 5px var(--primary);
        margin: 0 auto;
        object-fit: contain;
    }
}
    @media only screen and (min-width: 996px) {

        .container{
            display: flex;
        }
        .PriceCards{
            display: flex;
                .Card {
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin:2em;
                }
        }
        ._rightmob{
            display: none;
        }

        .__intro{
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content:center;
            margin-bottom: 1em;
            ._left{
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                justify-content:center;
                max-width: 100%;
                position:relative;
                ._TitleSubTitle{
                    width:66%;   
                }
                ._right{
                    display: flex;
                    height: 100%;
                    margin-bottom: 0;
                    position: absolute;
                    right: 0px;
                    width: auto;
                }

            }

            ._BgTitle{
                display: flex;
                font-size: 10em;
                margin: 1em 0 0 0;
                margin-top: 1em;
                opacity: 0.1;
                overflow-x: hidden;
                padding: 0 0 0.1em 0;
                width: 100%;
            }

        }
        .separator{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20em;
            margin-top: -2em;
            width: 200vw;
            .numbers{
                display: flex;
                justify-content: center;
                align-items:center;
                rotate: 2deg;
                height: 15em;
                .num_card{
                    background-image: linear-gradient(45deg, var(--gradient-colors2));
                    display: flex;
                    overflow: hidden;
                    flex-direction: column;
                    justify-content: baseline;
                    align-items: center;
                    width: 100%;
                    height: 75%;
                    text-align: center;
                    padding: 1em;
                    margin: 0 1em;
                    border: 2px solid var(--secondary);
                    border-radius: 1em;
                    box-shadow:5px 5px 0px 5px var(--secondary);
                    h4{
                        font-size: auto;
                    }
                }
            }
        }
  
        .Card {
            width: 80%;
        }
        .__primary{
        border: 2px solid var(--secondary);

        }
        .__secondary{
            border: 2px solid var(--primary);
        }

        .Abonnement{
            border-radius: 1em;
            width: 50%;
        }
        .PicTitle{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: start;
            margin-top: 5em;
            width: 100%;
        }
        ._HeroImage{
            height: 25em;
            margin: 0 2em;
        }
        ._divRelative{
            ._BgTitle{
                margin:0;
            }
        }
        ._BgTitle{
        padding: 0;

        }
        ._BgSubTitle{
            padding: 0.5em 0 0 0;
    }
    .map-responsive{
        display: flex;
        display: block;
        height:auto;
        margin-bottom: 1em;
        position: relative;
        width: 100%;
    }
    .illustration{
        height :100%;
        margin: 5% auto;
    }
}

@media only screen and (min-width: 1100px){ 
    .PriceCards{
        display: flex;
            .Card {
                width: auto;
                align-items: center;
                flex-direction: column;
                justify-content: flex-start;
                margin:2em;
            }
    }
}
@media only screen and (min-width: 1200px){ 
    
    .container{
        display: flex;
        margin: 1em auto;
        width: 1150px;
        padding: 1em 1.25em;

    }
    .container_card{
        display: flex;
        margin: 1em auto;
        width: 100%;
        padding: 1em 1.25em;

    }
    .inscriptions, .RGA, .seances, .horaires, .multimedia, .contact{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .container-large{
        align-items: center;
        display: flex;
        justify-content:center;
        margin: auto 8em;
        max-width: 2000px;
        padding: auto 5em;
        ._TitleSubTitle{
        max-width: 30vw;
        margin-right: auto;

            h3{
                margin-right: 5em;
                width: 80%;
            }
        }
    }
    .Card {
    border-radius: 1em;
    width: 650px;
        ._Title{
            align-items:center;
            justify-content:center;
        }
    }
    .HeroImage{
    margin: 0;
    }
    .__intro{
        margin-bottom: 0;
    }
    ._divRelative{
        ._BgTitle{
            margin: 0;
        }
    }
    .__primary{
        box-shadow:15px 15px 0px 5px var(--secondary);
        }
    .__secondary{
        box-shadow:15px 15px 0px 5px var(--primary);
    }
    ._TitleSubTitle{
       width: 80%;
    }
    .HeroImage{
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .test{
        width: 50%;
    }
    .Not{
        margin: auto;
    }
        
}
