
*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    --primary: #fee140;
    --secondary:#242B2E; 
    --third:##e8eef2; 
    --fourth: #ffffff;
    overflow-x: hidden;
}

body{
    line-height: 1,625;
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

    .container{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        ul{
            padding: 1em 0.5em
        }
    }

    h1{
        font-size: 2.6em;
        color: var(--secondary) ;
        line-height: 1.5em;
        margin: 1em;
        font-weight: bold;
    }
    h2{
        font-size: 2.1em;
        color:var(--secondary) ;
        line-height: 1.4em;
        padding: 1em;
        margin: 1em;
    }
    h3{
        font-size: 1.75em ;
        color:var(--secondary) ;
        line-height: 1.3em;
        opacity: 75%;
        margin: 1em;
    }
    h4{
        font-size: 1.5em ;
        color: var(--secondary);
        line-height: 1.2em;
        padding: 0 1em;
    }
    h5{
        font-size:1.25em ;
        color:var(--third);
        line-height: 1.1em;
        padding: 0 1em;
        margin:0 1em ;
    }
    h6{
        font-size:5.25em ;
        font-weight: 900;
        color:var(--third);
        opacity: 0.5;
        line-height: 1.1em;
        padding: 1em;
        margin:1em ;
    }


    p{
        font-size:1em;
        color: var(--secondary);
        opacity: 75%;
        padding: 1em;
        margin:1em;
        line-height: 1.5em;
    }

    ._BgTitle{
        display: flex;
        opacity: 0.1;
        width: 100%;
        padding: 0 0 0.1em 0;
        margin: 0;
        font-size: 10em;
    }

    a{
        all: unset;
        font-weight: bold;
    }
    ul {
        list-style-type: none;
      }
    li{
        font-size: 1em;
        color: var(--secondary);
        opacity: 75%;
        padding: 0 1em;
        margin: 1em;
    }

    ._divRelative{
        position: relative;
        margin-top: 1em;
    }

    ._BgSubTitle{
        display: flex;
        position: absolute;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        padding: 0 1.5em;
        width: 100%;
        margin-top: 0;
        position: relative;

    }

    .Left{
        align-items: start;
        justify-content: start;
        display: flex;
        flex-direction: column;
    }
    .Right{
        align-items: end;
        justify-content: end;
        display: flex;
        flex-direction: column;
    }

    ._right{
        margin-bottom: 6em;
    }

    .__intro{   
        display: block;
        justify-content: center;
        align-items: center;
        margin-bottom: 10em;
    }
    

    .HeroImage{
        display: flex;
        // width: 100%;
        height: 25em;
        z-index: 1;
        transition: 0.5s ease-in-out;

    }
    ._HeroImage{
        object-fit: cover;
    }

    .styledUnderlignComp{
        display: flex;
    }
    .Card{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fee140;
        padding: 1em;
        justify-content: center;
        align-items: center;
    }

@media only screen and (max-width: 480px) {


}
@media only screen and (min-width: 480px) {

    .Left{
        align-items: start;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .Right{
        align-items: end;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .Abonnement{
        display: flex;
        flex-direction: column;
    }
}
    @media only screen and (min-width: 996px) {

        .container{
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        .__intro{
            display: flex;
            margin-bottom: 1em;
            ._left{
                max-width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
            ._right{
                margin-bottom: 1em;
            }
            ._BgTitle{
                display: flex;
                opacity: 0.1;
                width: 100%;
                padding: 0 0 0.1em 0;
                margin: 0;
                margin-top: 1em;
                font-size: 10em;
                overflow-x: hidden;
            }
        }
        .illustration__{
            display: flex;
            width: 50%;
        }
        .Abonnement{
            width: 50%;
            border-radius: 1em;

        }
}

@media only screen and (min-width: 1200px){ 
    
    .container{
        margin: 1.875em auto;
        padding: 1.875em 1.25em;
        max-width: 1150px;
        display: flex;
        flex-direction: column;

    }

}