.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    span{
        display: flex;
        width: 25%;
        justify-content: center;
        align-items: center;
    }
    ul{
        width: auto;
    }
}